fastapi
uvicorn
httpx
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-core
google-generativeai
langchain-google-genai
pytest
pytest-asyncio
requests
beautifulsoup4
pandas
google-cloud-speech
sentence_transformers
langdetect
firebase-admin
python-multipart
pytesseract
google-cloud-texttospeech
twilio==9.7.0
google-adk
cloudpickle>=2.2.0
google-cloud-aiplatform==1.105.0